body{
  text-align: center;
  background-color: #F6F1EE;
  color: #4F4A45
}
.searchBar {margin-top: 3rem;
  background-color: #F6F1EE;
  margin-inline: auto;
  display: flex;
  width: 80%;
  border-radius: 16px;
  font-size: 16px;
  border: 1px solid #6c5f5bad;
  justify-content: space-between;
}
h1{
  text-align: center;
  margin: 1rem 0;
}
.inputStyle {
  background-color: #F6F1EE;
  width: 90%;
  border-radius: 16px;
  padding: 20px 10px;
  border: none;
  outline: none;
}
.loaderGif{
  height: calc(100vh - 105px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-body{
  height: 100px !important;
    overflow-x: hidden;
    overflow-y: scroll;
}
.searchImg {
  width: 65px;
    padding: 13px;
}
table{
  width: 80%;
    margin-inline: auto;
    margin-top: 1.5rem;
   
}
thead{
  margin-bottom: 20px !important;
  background-color: #4F4A45;
  color: #F6F1EE;
  padding: 1rem ;
}
th{ 
  font-size: 20px !important;
}
td,th {padding: .5em 1em;}
tr{
  padding: 20px;
  border-bottom: 1px solid #4f4a4546 !important;
}
td{
  vertical-align: text-top;
  margin-bottom: 10px !important;
}
.filter-section{
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
select{
    border: 1px solid #4F4A45;
    padding: 5px 15px;
    border-radius: 10px;
}